server/imagenet-vgg-verydeep-19.mat
StyleTransfer/
StyleTransfer/*
!StyleTransfer/app/src/main/java/com/example/android/styletransfer/
!StyleTransfer/app/src/main/java/com/example/android/styletransfer/*
